@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>INT422 Project</h1>
    <p class="lead">Davson Wandja (040-792-129)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Accounts</h2>
        <p>
            <table style="width:100%;">
                <tr>
                    <th>Role</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
                <tr>
                    <td>Admin</td>
                    <td>admin</td>
                    <td>123456</td>
                </tr>
                <tr>
                    <td>Faculty</td>
                    <td>ian</td>
                    <td>123456</td>
                </tr>
                <tr>
                    <td>Faculty</td>
                    <td>brian</td>
                    <td>123456</td>
                </tr>
                <tr>
                    <td>Faculty</td>
                    <td>harvey</td>
                    <td>123456</td>
                </tr>
                <tr>
                    <td>Faculty</td>
                    <td>cindy</td>
                    <td>123456</td>
                </tr>
                <tr>
                    <td>Faculty</td>
                    <td>denise</td>
                    <td>123456</td>
                </tr>
            </table>
        </p>
    </div>
</div>